<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Login</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="txtUsername">Username</label>  
  <div class="col-md-4">
  <input id="txtUsername" name="txtUsername" placeholder="" class="form-control input-md" required="" type="text">
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="txtPassword">Password</label>
  <div class="col-md-4">
    <input id="txtPassword" name="txtPassword" placeholder="" class="form-control input-md" required="" type="password">    
  </div>
</div>


<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="btnLogin"></label>
  <div class="col-md-4">
    <button id="btnLogin" name="btnLogin" class="btn btn-primary">Login</button>
  </div>
</div>

</fieldset>
</form>
